= render 'home/sections/header'
= render 'home/sections/services'
= render 'home/sections/portfolio'
= render 'home/sections/about'
= render 'home/sections/team'
= render 'home/sections/clients'
= render 'home/sections/contact'

= render 'modals', locals: {project: @project}